---
interface Props {
  icon: string;
  heading: string;
  paragraph: string;
}

const { icon, heading, paragraph } = Astro.props;
---

<div class="address-card">
  <div class={`icon ${icon}`}></div>
  <span class="heading">{heading}</span>
  <p class="address-paragraph">{paragraph}</p>
</div>

<style lang="scss" is:global>
  @use "../assets/scss/mixin" as *;
  @use "../assets/scss/root" as *;

  .address-card {
    background: var(--bgClr);
    color: var(--textClr);
    text-align: center;
    border: 1px solid var(--textClr-10);
    padding: 1.5rem;
    border-radius: var(--rd-16);
    @include flex-element;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .icon {
      padding: 0.75rem;
      background: var(--lightPrimaryClr-10);
      border-radius: var(--rd-12);
      margin-bottom: 0.5rem;
      width: 3rem;
      height: 3rem;
    }

    .heading {
      font-family: var(--fontRegular);
      color: var(--textClr-60);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .address-paragraph {
      font-family: var(--fontSemi);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
</style>
