---
interface Props {
  label: string;
  btnClasses: string;
  icon?: string;
}

const { label, btnClasses, icon } = Astro.props;
---

<button class={btnClasses}>
  <i class={`icon ${icon}`}></i>
  <span>{label}</span>
</button>

<style lang="scss" is:global>
  @use "../assets/scss/mixin" as *;
  @use "../assets/scss/root" as *;

  button {
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: none;
    background-color: var(--lightPrimaryClr);
    color: var(--whiteClr);
    padding: 0.75rem 1.5rem;
    border-radius: 5rem;
    width: max-content;
    transition: all 0.3s ease-in-out;
    @include flex-element;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--primaryClr);
    }

    .icon.call {
      &::before {
        width: 1rem;
        height: 1rem;
        background-color: var(--whiteClr);
        @include phone-icon;
      }
    }

    span {
      font-family: var(--fontSemix);
      font-size: var(--ft-16);
      line-height: var(--ft-24);
    }
  }
</style>
