---
import Logo from "../components/logo.astro";
import Nav from "../components/navigation.astro";
import Button from "../components/button.astro";
---

<header>
  <Logo />
  <div class="navigation-button">
    <span class="hambuger menu-1"></span>
    <span class="hambuger menu-2"></span>
    <span class="hambuger menu-3"></span>
  </div>
  <div class="navigation-wrapper">
    <Nav />
    <Button label="Call Me" btnClasses="btn-primary" icon="call" />
  </div>
</header>

<style lang="scss" is:global>
  @use "../assets/scss/mixin" as *;
  @use "../assets/scss/root" as *;

  header {
    @include fixed-position;
    width: 100vw;
    padding: var(--sectionHeaderPd);
    background-color: var(--primaryClr);
    @include flex-element;
    justify-content: space-between;
    align-items: center;
    z-index: 9;

    .navigation-button {
      @include hide-element;
    }

    .navigation-wrapper {
      @include flex-element;
      gap: 2rem;
      align-items: center;
    }
  }

  @media (max-width: 65rem) {
    header .navigation-button {
      @include flex-element;
      flex-direction: column;
      gap: 0.375rem;

      .hambuger {
        width: 1.75rem;
        height: 0.125rem;
        background-color: var(--whiteClr);
        border-radius: 0.25rem;
      }
    }
    .navigation-wrapper {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include abs-position;
      height: calc(100vh - 3.25rem);
      top: 3.25rem;
      right: -15rem;
      background-color: var(--primaryClr);
      padding: 2rem 1rem;

      &.active {
        right: 0;
      }
    }

    section.hero {
      grid-template-columns: 1fr;
    }
  }
</style>
