---
interface Props {
  icon: string;
  tab?: string;
  tabname: string;
}

const { icon, tabname, tab } = Astro.props;
---

<div class={`tab ${tab}`} data-target={icon}>
  <div class={`icon ${icon}`}></div>
  <span class="tabname">{tabname}</span>
</div>

<style lang="scss" is:global>
  @use "../assets/scss/mixin" as *;
  @use "../assets/scss/root" as *;

  .tab {
    @include flex-element;
    padding: 0.75rem 1.25rem;
    gap: 0.5rem;
    border-radius: var(--rd-64);
    border: 1px solid var(--secondaryTextClr);
    background: var(--bgClr);
    cursor: pointer;

    span {
      font-family: var(--fontSemi);
      font-size: var(--ft-14);
      line-height: var(--ft-20);
    }

    &:hover {
      background: var(--lightPrimaryClr-10);
    }

    &.active {
      background: var(--lightPrimaryClr);
      color: var(--whiteClr);
      border-color: var(--primaryBdClr);

      &:hover {
        background: var(--primaryClr);
      }
    }
  }
</style>
